.cabecalho-menu {
    width: 24px;
    height: 24px;
    background-image: url("../images/Menu.svg");
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.cabecalho {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container-imagem {
    padding: 1em;
}

.lista-menu-titulo,
.lista-menu-item {
    padding: 1em;
    background-color: #FFFFFF;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.lista-menu-titulo {
    color: #EB9B00;
    font-weight: 700;
}

.container-botao:checked~.lista-menu {
    display: block;
}


.lista-menu-link {
    background: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-decoration: none;
    text-transform: uppercase;
}

.container-botao {
    display: none;
}

.container-titulo {
    display: none;
}

.opcoes {
    display: none;
}

/* MEDIA QUERY */

@media screen and (min-width: 1024px) {

    .container-titulo,
    .container-titulo--negrito {
        font-family: 'Josefin', sans-serif;
        font-size: 30px;
    }

    .container-titulo {
        font-weight: 400;
        display: block;
    }

    .container-titulo--negrito {
        font-weight: 700;
    }

    .opcoes {
        display: flex;
    }

    .opcoes-item {
        padding: 0 1em;
        text-transform: uppercase;
    }

    .opcoes-link {
        text-decoration: none;
        color: #000000;
    }

    .container-imagem-transparente {
        display: none;
    }

    .cabecalho-menu {
        display: none;
    }

    .opções {
        display: flex;
    }

    .opções-item {
        padding: 0 1em;
        text-transform: uppercase;
    }

    .opções-link {
        text-decoration: none;
        color: #000000;
    }

    .container-imagem-transparente {
        display: none;
    }

    .cabeçalho-menu {
        display: none;
    }

    .opções-botão:checked~.lista-menu {
        display: block;
        width: auto;
    }

    .opções-botão {
        display: none;
    }

    .opções-botão:checked~.opções__rotulo>.opções-item {
        background: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
        color: #FFFFFF;
    }

    .opções-item {
        padding: 2em 1em;
    }

    .lista-menu-item:hover {
        background: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    }

    .lista-menu-item:hover>.lista-menu-link {
        -webkit-text-fill-color: #FFFFFF;
        text-decoration: none;
    }
}