hr {
    margin: 0;
}

.rodape {
    background-color: #FFFFFF;
    padding: 1em;
}

.lista-rodape {
    display: none;

}

@media screen and (min-width: 1024px) {
    .rodape {
        display: flex;
        justify-content: space-around;
    }

    .lista-rodape {
        display: block;
    }

    .lista-rodape-item {
        display: flex;
        align-items: center;
        margin: 0.6em 0;
    }

    .lista-rodape-link {
        color: var(--cinza);
        text-decoration: none;
        margin-left: 0.6em;
    }

    .lista-rodape-link:hover {
        color: #EB9B00;
    }

    .lista-rodape-titulo {
        font-size: 14px;
        color: #858585;
    }

    .rodape-titulo {
        font-size: 24px;
    }


}

@media screen and (min-width: 1728px) {
    .lista-rodape {
        border-left: 1px solid #858585;
        padding-left: 1em;
    }

    .lista-rodape-link:hover {
        color: #EB9B00;
    }

    .rodape {
        padding: 3em 0;
    }
}