.topicos {
    background: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    text-align: center;
    padding: 1em 0;
}

.topicos-titulo {
    color: #FFFFFF;
    font-weight: 300;
    margin-bottom: 1em;
}

.topicos-lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topicos-item {
    margin: 2em 0.5em;
}

.topicos-link {
    color: #FFFFFF;
    padding: 1em;
    background: #EB9B00;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
}

.topicos-link:hover {
    color: #EB9B00;
    background-color: #FFFFFF;
}

@media screen and (min-width: 1024px) {
    .topicos-titulo {
        font-size: 24px;
    }

    .topicos-link {
        font-size: 24px;
    }

    .topicos-link:hover {
        color: #EB9B00;
        background-color: #FFFFFF;
    }
}

@media screen and (min-width: 1728px) {
    .topicos {
        padding: 3em 30vw;
    }

    .topicos-link:hover {
        color: #EB9B00;
        background-color: #FFFFFF;
    }
}